KAFKA_TOPIC=environmental-readings
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE=municipal_environment
MONGO_COLLECTION=sensor_readings
PRODUCER_INTERVAL_SECONDS=2
PRODUCER_MAX_ROWS=25
SENSOR_DATA_FILE=/app/data/AirQualityUCI.csv
